@import url(utils.css);

html {
	display: flex;
	height: 100%;
	font-size: 62.5%;
}

body {
	margin-left: 2.5rem;
	margin-right: 2.5rem;
}

.box {
	height: 300px;
	width: 300px;
	color: white;
	font-size: 5rem;
}

.box:hover {
	cursor: pointer;
}

.percent-bar {
	background-color: grey;
	height: 5.5rem;
	margin-bottom: 2.5rem;
}

.percent-bar div {
	height: 100%;
	width: calc(100% / 3);
	transition: width 1s;
	color: white;
	font-size: 2rem;
	font-weight: bold;
}

.don_1 {
	background-color: orange;
}

.don_2 {
	background-color: red;
}

.don_3 {
	background-color: blue;
}