.flex {
	display: flex;
}

.flex-auto {
	flex: auto;
}

.column {
	display: flex;
	flex-direction: column;
}

.row {
	display: flex;
	flex-direction: row;
}

.justify-content-center {
	justify-content: center;
}

.justify-content-space-around {
	justify-content: space-around;
}

.justify-content-space-between {
	justify-content: space-between;
}

.align-item-center {
	align-items: center;
}